.movie-card {
  min-width: 15em; /* Adjust as needed */
  border-radius: 6px;
  overflow: hidden;
  background-color: #1a1a1a;
  transition: transform 0.2s;
  min-height: 30em;
  display: flex;
  flex-direction: column;
}

.movie-info {
  padding: 0.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.movie-info h3 {
  font-size: 0.85rem;
}

.movie-info p {
  font-size: 0.75rem;
}

.user-rating {
  font-size: 0.8rem;
}

.favorite-btn {
  width: 30px;
  height: 30px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .movie-card {
    width: 140px;
    font-size: 0.8rem;
  }

  .favorite-btn {
    width: 26px;
    height: 26px;
    font-size: 0.9rem;
  }
}
